<div>
  <mat-toolbar-row color="primary" class="top-toolbar">
    <div _ngcontent-serverapp-c147="" class="logo-outer mr-2">
      <div _ngcontent-serverapp-c147="" class="button-container logo ng-tns-c147-0"></div>
    </div>
    <span class="header-title">ARK Invest Active ETF Holdings Tracker</span>
    <span class="example-spacer"></span>
    <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon >help</mat-icon>
    </button>
    <mat-icon class="example-icon" style="margin-right: 1.5rem;" aria-hidden="false" aria-label="Example delete icon">brightness_5</mat-icon>
    <mat-slide-toggle>Slide me!</mat-slide-toggle>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">bedtime</mat-icon>
  </mat-toolbar-row>

  <div class="search-form mat-app-background">
    <button mat-raised-button>
      <mat-icon>calendar_today</mat-icon>
    </button>
    <button mat-raised-button class="ml-16">
      <mat-icon>calendar_today</mat-icon>..1
    </button>
    <button mat-raised-button class="ml-16">
      <mat-icon>calendar_today</mat-icon>..7
    </button>
    <button mat-raised-button class="ml-16">
      <mat-icon>calendar_today</mat-icon>..30
    </button>

    <span class="ml-16">Custom range:</span>

    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date">
        <input matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <p>Selected range: {{range.value | json}}</p>


    <span class="ml-16">Include:</span>

    <mat-form-field appearance="fill">
      <mat-label>Favorite food</mat-label>
      <mat-select  [(ngModel)]="selectedValue">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-mini-fab  mat-raised-button class="ml-16">
      <mat-icon>link</mat-icon>
    </button>
    <button mat-mini-fab mat-raised-button class="ml-16">
      <mat-icon>clear</mat-icon>
    </button>

  </div>
  <mat-tab-group>
    <mat-tab label="ARKK">
      <mat-card>
        <mat-card-title>ARKK / ARK Innovation ETF</mat-card-title>
        <mat-card-content>

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

            <ng-container matColumnDef="company">
              <th mat-header-cell *matHeaderCellDef> Company </th>
              <td mat-cell *matCellDef="let element"> {{element.company}} </td>
            </ng-container>

            <ng-container matColumnDef="ticker">
              <th mat-header-cell *matHeaderCellDef> Ticker </th>
              <td mat-cell *matCellDef="let element"> {{element.ticker}} </td>
            </ng-container>

            <ng-container matColumnDef="t212">
              <th mat-header-cell *matHeaderCellDef> T212 </th>
              <td mat-cell *matCellDef="let element"> {{element.t212}} </td>
            </ng-container>

            <ng-container matColumnDef="t212isa">
              <th mat-header-cell *matHeaderCellDef> T212 <br/>
                ISA </th>
              <td mat-cell *matCellDef="let element"> {{element.t212isa}} </td>
            </ng-container>

            <ng-container matColumnDef="sharesOnStart">
              <th mat-header-cell *matHeaderCellDef> Shares on <br/>3/10/21</th>
              <td mat-cell *matCellDef="let element"> {{element.sharesOnStart}} </td>
            </ng-container>
            <ng-container matColumnDef="valueOnStart">
              <th mat-header-cell *matHeaderCellDef> Value on<br/> 3/1/21 </th>
              <td mat-cell *matCellDef="let element"> {{element.valueOnStart}} </td>
            </ng-container>
            <ng-container matColumnDef="stockPriceStart">
              <th mat-header-cell *matHeaderCellDef> Stock price on <br/>3/1/21 </th>
              <td mat-cell *matCellDef="let element"> {{element.stockPriceStart}} </td>
            </ng-container>
            <ng-container matColumnDef="weightOnStart">
              <th mat-header-cell *matHeaderCellDef> Weight on <br/>3/1/21 </th>
              <td mat-cell *matCellDef="let element"> {{element.weightOnStart}} </td>
            </ng-container>
            <ng-container matColumnDef="sharesOnEnd">
              <th mat-header-cell *matHeaderCellDef> Shares on <br/>3/11/21 </th>
              <td mat-cell *matCellDef="let element"> {{element.sharesOnEnd}} </td>
            </ng-container>
            <ng-container matColumnDef="valueOnEnd">
              <th mat-header-cell *matHeaderCellDef> Value on<br/> 3/11/21</th>
              <td mat-cell *matCellDef="let element"> {{element.valueOnEnd}} </td>
            </ng-container>
            <ng-container matColumnDef="stockPriceEnd">
              <th mat-header-cell *matHeaderCellDef> Stock price<br/> on 3/11/21 </th>
              <td mat-cell *matCellDef="let element"> {{element.stockPriceEnd}} </td>
            </ng-container>
            <ng-container matColumnDef="weightOnEnd">
              <th mat-header-cell *matHeaderCellDef> Weight on <br/>3/11/21 </th>
              <td mat-cell *matCellDef="let element"> {{element.weightOnEnd}} </td>
            </ng-container>
            <ng-container matColumnDef="sharesDifference">
              <th mat-header-cell *matHeaderCellDef> Shares<br/> difference </th>
              <td mat-cell *matCellDef="let element"> {{element.sharesDifference}} </td>
            </ng-container>
            <ng-container matColumnDef="shareInOut">
              <th mat-header-cell *matHeaderCellDef> Shares In/Out<br/> Flow Valuation </th>
              <td mat-cell *matCellDef="let element"> {{element.shareInOut}} </td>
            </ng-container>

            <ng-container matColumnDef="valueDifference">
              <th mat-header-cell *matHeaderCellDef> Value <br/>difference </th>
              <td mat-cell *matCellDef="let element"> {{element.valueDifference}} </td>
            </ng-container>
            <ng-container matColumnDef="stockPriceDifferenceNumber">
              <th mat-header-cell *matHeaderCellDef> Stock price <br/>difference ($) </th>
              <td mat-cell *matCellDef="let element"> {{element.stockPriceDifferenceNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="stockPriceDifferencePercent">
              <th mat-header-cell *matHeaderCellDef> Stock price<br/> difference (%) </th>
              <td mat-cell *matCellDef="let element"> {{element.stockPriceDifferencePercent}} </td>
            </ng-container>
            <ng-container matColumnDef="widthDifference">
              <th mat-header-cell *matHeaderCellDef> Weight <br/>difference  </th>
              <td mat-cell *matCellDef="let element"> {{element.widthDifference}} </td>
            </ng-container>

            <ng-container matColumnDef="observation">
              <th mat-header-cell *matHeaderCellDef> Observation<br/> for period  </th>
              <td mat-cell *matCellDef="let element"> {{element.observation}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="ARKQ">
      <mat-card>Simple card</mat-card>
    </mat-tab>
    <mat-tab label="ARKW">
      <mat-card>Simple card</mat-card>
    </mat-tab>
    <mat-tab label="ARKG">
      <mat-card>Simple card</mat-card>
    </mat-tab>
    <mat-tab label="ARKF">
      <mat-card>Simple card</mat-card>
    </mat-tab>
    <mat-tab label="Individual Stocks">
      <mat-card>Simple card</mat-card>
    </mat-tab>
  </mat-tab-group>

</div>