.top-toolbar{
  background: #009688;
  color: #fff;
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: 64px;
}
.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}
.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  color: rgba(0,0,0,.87);
}

.mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button{
  color: rgba(0,0,0,.87);
  background-color: #fff;
}
.ml-16{
  margin-left: 16px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(0,0,0,.04);
}

.mat-tab-label, .mat-tab-link{
  color: rgba(0,0,0,.87);
  font-size: 14px;
  font-weight: 500;
}
.mat-card-title{
  text-align: center;
  letter-spacing: .05em;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 800;
}
table {
  width: 100%;
}

div.logo-outer {
  border-radius: 50%;
  border: 3px solid #fff;
  height: 44px;
  width: 44px;
  padding: 3px;
  box-shadow: 0 1px 5px #000;
  margin-right: .5rem;
}
div.logo[_ngcontent-serverApp-c147]{
  background-image: url(/assets/favicon-32x32.png);
  background-repeat: no-repeat;
  background-position: 50%;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.header-title{
  font: 500 20px/32px Roboto,Helvetica Neue,sans-serif;
  letter-spacing: normal;
  margin: 0;
  padding-left: 1rem;
}