.top-toolbar{
  background: #009688;
  color: #fff;
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: 64px;
}
.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}
.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button{
  color: rgba(0,0,0,.87);
  background-color: #fff;
}
.ml-16{
  margin-left: 16px;
}